################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/

/ConsoleApp1/bin/
/ConsoleApp1/obj/

/ConsoleApp2/bin/
/ConsoleApp2/obj/

/PriceCalculater/bin/
/PriceCalculater/obj/


/.vs/PriceCalculater/v16
