################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/

/ConsoleApp1/bin/
/ConsoleApp1/obj/

/ConsoleApp2/bin/
/ConsoleApp2/obj/

/PriceCalculater/bin/
/PriceCalculater/obj/


/.vs/PriceCalculater/v16
/.vs/PriceCalculater/DesignTimeBuild
/Netcore3/Calculator.V4.NUnitTest/bin
/Netcore3/Calculator.V4.NUnitTest/obj
/Netcore3/Calculator.V4/bin
/Netcore3/Calculator.V4/obj
